/* Светлая тема при явном классе */
:root.theme-light {
  --bg-color: #fff;
  --text-color: #000028;
  --accent-color: #ff8dcb;
  --title-color: #ff0070;
  --decor-color: #ff0070;
  --shadow-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  --nav-btn-color: #ff0070;
  --corner-color: #ff0070;
  --card-title-bg: var(--accent-color);
  --card-title-color: var(--bg-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
}

/* Скрыть REC в светлой теме */
:root.theme-light .header__rec {
  display: none;
}

/* Светлая тема по системным настройкам */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000028;
    --accent-color: #ff8dcb;
    --title-color: #ff0070;
    --decor-color: #ff0070;
    --shadow-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --nav-btn-color: #ff0070;
    --corner-color: #ff0070;
    --card-title-bg: var(--accent-color);
    --card-title-color: var(--bg-color);
    --link-shadow: 2px 2px 0 var(--accent-color);
  }

  .header__rec {
    display: none;
  }
}
